# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea

# Andreas data files
data
raw
TODO.txt
**/__pycache__
*.iml
out
gen
cascades/
camset-video-best1-meter.json
lenet_train.py
object_detection.py
python3.6-requirements.txt
shallownet_test.py
shallownet_train.py
tester.ipynb
tester.py
tester2.py
tester3.py
xdata/html/
xdata/xml/
xdata/xsd/
xdata/xsl/
