# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.gitignore
data
raw
TODO.txt
**/__pycache__
*.iml
out
gen
cascades/
